<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apps</title>
    <!-- Carregar o arquivo CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Bem-vindo à página Apps!</h1>
            <div class="user-info">
                <p>Você está logado como <strong>{{ user.username }}</strong>.</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            </div>
        </div>
    </header>

    <div class="app-links">
        <h2>Escolha uma aplicação:</h2>
        <ul>
            <li><a href="{% url 'csr_decoder' %}" class="app-link">CSR DECODER</a></li>
            <li><a href="{% url 'header' %}" class="app-link">HEADER</a></li>
            <li><a href="{% url 'certificados' %}" class="app-link">Certificados</a></li>
        </ul>
    </div>
</body>
</html>
