<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificados</title>
    <!-- Carregar o arquivo CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Bem-vindo à página Certificados!</h1>
            <div class="user-info">
                <p>Você está logado como <strong>{{ user.username }}</strong>.</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            </div>
        </div>
    </header>

    <div class="content">
        <h2>Conteúdo da aplicação Certificados</h2>
        <p>Este é um exemplo de página para a aplicação Certificados.</p>
    </div>
</body>
</html>
